
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1490597342265'); /* IE9*/
  src: url('iconfont.eot?t=1490597342265#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1490597342265') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1490597342265') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1490597342265#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dingwei:before { content: "\f0039"; }

.icon-telephone:before { content: "\e7b4"; }

.icon-star:before { content: "\e61f"; }

.icon-checkbox-checked:after { content: "\e682";float: right; }

.icon-checkbox:after { content: "\e69a";float: right; }

.icon-park:before { content: "\e63e"; }

.icon-arrows-left:before { content: "\e652"; }

.icon-arrows-right:after { content: "\e654"; }

.icon-top:before { content: "\e6da"; }

.icon-duihao:before { content: "\e784"; }

.icon-wifi:before { content: "\e621"; }

.icon-delete:before { content: "\e631"; }

.icon-search:before { content: "\e694"; }

.icon-yuandian:before { content: "\e601"; }

.icon-arrow-top:after { content: "\e501"; }

.icon-arrow-bottom:after { content: "\e64c"; }

